In [1]:

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('homepage.csv')

In [3]:
df.head()

,Day,Control Cookies,Control Downloads,Control Licenses,Experiment Cookies,Experiment Downloads,Experiment Licenses
0,1,1764,246,1,1850,339,3
1,2,1541,234,2,1590,281,2
2,3,1457,240,1,1515,274,1
3,4,1587,224,1,1541,284,2
4,5,1606,253,2,1643,292,3

In [4]:
df.shape

(29, 7)

In [9]:
con_group = df['Control Cookies'].sum()
exp_group = df['Experiment Cookies'].sum()
total = con_group + exp_group

In [10]:
prop_con = con_group /total
prop_exp = exp_group /total
print([prop_con, prop_exp])

[0.4973725277875092, 0.5026274722124908]

In [12]:
mean_prop = prop_exp - prop_con
mean_prop

0.005254944424981645